.app-container {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    width: calc(100vw - 32px);
    min-height: calc(100vh - 32px);
    overflow-x: hidden;

    background-color: rgba(10, 10, 10);
    color: rgba(230, 230, 200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}
.app-uiContainer {
    white-space: nowrap;
}
.app-uiItemContainer {}
.app-chartContainer {
    flex-grow: 1;
    max-height: 640px;
}

@media screen and (min-width: 600px) {
    .app-container {

    }
    .app-chartContainer {
        
    }
  }

@media screen and (max-width: 600px) {
    .app-container {
        flex-direction: column;
    }
    .app-chartContainer {
        height: 60vh;
        min-height: 60vh;
        max-height: 60vh;
    }
  }

@media only screen and (orientation: landscape) {
    .app-container {
        flex-direction: column;
    }
    .app-chartContainer {
        height: 80vh;
        min-height: 80vh;
        max-height: 80vh;
    }
}